<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class="about">
    <h2>Sobre mi</h2>
    <p>Front End Developer SemiSenior - JavaScript, Angular, HMTL 5, CSS - 
        En busca de oportunidades dónde pueda aprender y aportar mi conocimiento - 
        Entusiasta de las metodologías ágiles - Amplio conocimiento en el área comercial 
        de tecnologías de la información - Estudiante de Ingeniería de sistemas con 
        profundos conocimientos en servicio al cliente. Mi enfoque siempre ha sido que 
        nuestro cliente se siente como en casa por la atención que recibe. Amplia 
        experiencia en apertura de mercado y fidelización de clientes 
    </p>
</article>